<!doctype html>
<title>{% block title %}{% endblock %} MedCabinet</title>

<nav>
  <h1>MedCabinet</h1>
  <ul>
    {% if current_user.is_authenticated %}
      <li><span>{{ 'Hello and welcome! Our app was created to help you find recomendations for your next toking! Click below to get started!' }}</span>
      <li><a href="{{ url_for('recomendations') }}">Marijuana Recomendations</a>
      <li><a href="{{ url_for('logout') }}">Log Out</a></li>
    {% else %}
      <li><a href="{{ url_for('login') }}">Log In</a>
      <li><a href="{{url_for('register')}}">Register</a></li>
    {% endif %}
  </ul>
</nav>
<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  {% block content %}{% endblock %}
</section>
</html>